
<div  class='pt-5'  *ngIf="!loader">
  <ul class=" d-flex align-items-center justify-content-center ">
    <li class="me-3 ">
     <a href="https://www.facebook.com/thryam1?locale=ar_AR" target="_blank">  <i class="fa-brands fa-facebook-f fs-4 text-light" ></i></a>
     </li>
    <li  class="me-3">
     <a href="https://www.linkedin.com/in/thoria-aboras-45080a19a/" target="_blank"> <i class="fa-brands fa-linkedin fs-4 text-light"></i></a>
     </li>
    <li  class="me-3">
    <a href="mailto:Thori.Aboras@gmail.com" target="_blank"> <i class="fa-solid fa-envelope fs-4 text-light"></i></a>
     </li>
     <li class="me-3">  <i class="fa-brands fa-behance fs-4 text-light"></i></li>
     <li class="me-3"> <a href="https://wa.me/966502017231" target="_blank"><i class="fa-brands fa-whatsapp fs-4 text-light"></i></a></li>
     <li class="me-3"> <a href="https://wa.me/201021369150" target="_blank"><i class="fa-brands fa-whatsapp fs-4 text-light"></i></a></li>
  </ul>
  <p class="text-center">Designed By : <a class="second-color" href="https://www.linkedin.com/in/heba-mansour-3aa875161/" target="_blank">Heba Mansour</a></p>
</div>
