

<section id="skills" class=""  *ngIf="!loader">
  <h2 class="shado-main p-3 text-center mb-5">About Me</h2>
  <div class="container mt-4 pb4 " >
   <div class="row">
    <div class="shado-light p-3 my-4">
  <h4 class="text-center">Hi , I'm a Front-end web developer | React | NextJS with 1+ years of experience in designing and building responsive web applications.</h4>
    </div>

     <div class="row shado-light p-3 my-4">
  <div class="col-md-6 text-sm-center">
    <h4 class="h5"> <span class="second-color ">Name: </span> Thoria Abouras</h4>
    <h4 class="h5"> <span class="second-color">Country: </span> Egypt | Saudi Arabia</h4>
    <h4 class="h5"> <span class="second-color">Phone: </span> +201021369150 | +966502017231</h4>
          </div>
          <div class="col-md-6 text-sm-center">

            <h4 class="h5"> <span class="second-color">Age: </span> 27</h4>
            <h4 class="h5"> <span class="second-color">CV: </span> <a class="btn btn-style shado-light"  download="">View</a></h4>
            <h4 class="h5"> <span class="second-color">Email: </span> +201021369150 | +966502017231</h4>
        </div>
     </div>
     <div class="shado-light p-3 my-4">
      <h4 class="text-center">Hi , I'm a Front-end web developer | React | NextJS with 1+ years of experience in designing and building responsive web applications.</h4>
        </div>

   </div>
  </div>
</section>


