
<nav class="navbar navbar-expand-lg  var(--bg-color) " *ngIf="!loader">
  <div class="container-fluid p-4">
    <a class="navbar-brand text-light fw-bolder fs-1 ms-4" href="#home">Thoria</a>
    <button class="navbar-toggler text-light color-colasp bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon color-colasp bg-light"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 ">
        <li class="nav-item">
          <a class="nav-link text-light active second-color fs-4" aria-current="page" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light  fs-4" aria-current="page" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light  fs-4" aria-current="page" routerLink="projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light  fs-4" aria-current="page" routerLink="contact">Contact</a>
        </li>


      </ul>

      <ul class=" d-flex align-items-center pe-md-4 width-size ">
        <li class="me-3  text-sm-center">
         <a href="https://www.facebook.com/thryam1?locale=ar_AR" target="_blank" class="width-size ">  <i class="fa-brands fa-facebook-f fs-4 text-light" ></i></a>
         </li>
        <li  class="me-3">
         <a href="https://www.linkedin.com/in/thoria-aboras-45080a19a/" target="_blank"> <i class="fa-brands fa-linkedin fs-4 text-light"></i></a>
         </li>
        <li  class="me-3">
        <a href="mailto:hebam1017@gmail.com" target="_blank"> <i class="fa-solid fa-envelope fs-4 text-light"></i></a>
         </li>
         <li>  <i class="fa-brands fa-behance fs-4 text-light"></i></li>

      </ul>
    </div>
  </div>
</nav>
